@charset "utf-8";
/* CSS Document */

.temel { margin-top:5px;}
.panelust { background-color:#D2D2FF; height:35px;}
.panelsol { padding-top:15px; padding-bottom:15px; background-color:#E9E9E9; text-align:center;  margin:5px; border-radius:5px;}
.panelsag { background-color:#F4F4F4;   margin:5px; border-radius:5px;}
.panelbuton { width:150px; margin-bottom:5px;}

.diziekle { margin:10px; }
.diziekleyazi { margin:10px; font-size:14px; color:#000; }
.dizieklegenel { margin-top:20px; margin-left:50px;}
.afis { border:1px #000000; height:100px; width:100px;}

.diziduzenlegenel {}
.diziduzenleyazi { padding-right:10px; font-weight:bold;}
.diziduzenlelist { margin-top:30px; margin-bottom:30px;}
.diziminiafis { height:150px; width:250px;}
.diziduzenle { background-color:#E9E9E9; border-radius:5px; padding-top:10px;}

.haberbuton { width:100px; float:left; margin-left:10px;}
.haberminiresim { height:100px; width:175px;}
.haberduzenle { background-color:#E9E9E9; border-radius:5px; padding-top:10px;}

.uyebuton { float:left; margin-left:5px;}
.uyelist { font-weight:bold;}

.not { font-style:italic; font-size:8px;}

.duzenlebuton { padding:10px; margin-bottom:10px; background-color:#E9E9E9;}
